services:
  portainer:
    image: portainer/portainer-ce:2.27.9
    container_name: portainer

    restart: unless-stopped

    ports:
      - "{{ portainer_port }}:9443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ data_dir }}/portainer:/data"