services:
  prometheus:
    image: prom/prometheus:{{ prometheus_version }}
    container_name: prometheus
    user: "{{ prometheus_uid }}:{{ prometheus_gid }}"
    restart: unless-stopped
    expose:
      - "9090"
    volumes:
      - {{ config_dir }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - {{ data_dir }}/prometheus:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'

networks:
  default:
    name: monitoring
    external: true