server {
    listen 80;
    server_name {{ grafana_subdomain }};

    location /.well-known/acme-challenge/ {
        root {{ certbot_webroot }};
    }

    location / {
        return 301 https://$host$request_uri;
    }
}