services:
  portainer:
    image: portainer/portainer-ce:{{ portainer_version }}
    container_name: portainer
    restart: unless-stopped

    ports:
      - "127.0.0.1:9443:9443"

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{ data_dir }}/portainer:/data"

networks:
  default:
    name: monitoring
    external: true